body {
    background-color:linear-gradient(135deg, #ffe6e6, #e8f7f1, #f0f5f9);; /* Add your desired background color */
    margin: 0;
    padding: 0;
  }

  .update-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .update-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .update-form-group {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .update-form label {
    font-weight: bold;
    margin-bottom: 10px; /* Adjust the margin-bottom as needed */
  }
  
  .update-form input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .update-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .update-form button:hover {
    background-color: #0099ff;
  }
  